/*
     the light green #c7db39
      the dark green #215f2f
           the brown #57442B
      the sand color #F5F1E4
            the grey #EFEFEF
        nearly black #333
snatched Custom blue #449
    downloaded green #C3E3C8
              SD red #944
            HD green #494
*/
* {
    font-size: 12px;
    font-family: tahoma, sans-serif;
    /*color: #000;*/
}

body {
    overflow: hidden;
    margin: 0;
    padding: 2px;
    width: 351px;
}

body.small {
    width: 249px;
}

body.medium {
    width: 351px;
}

body.big {
    width: 450px;
}

#menu {
    background: #EFEFEF;
    text-align: center;
    border-top: 1px solid white ! important;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-radius: 0px 0px 4px 4px;
}

#menu span {
    color: black;
    font-size: 11px;
    line-height: 16px;
    white-space: nowrap;
    height: 16px;
    padding: 3px 3px 3px 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    cursor: pointer;
}

#menu span:hover,.menu #showActionButton:hover {
    background-color: #333;
    color: whitesmoke;
}

#open_sb {
    background-image: url(../images/menu/sb_16.png);
}

#open_sb:hover {
    background-image: url(../images/menu/sb_16_over.png);
}

#extension_settings {
    background-image: url(../images/menu/config16.png);
}

#extension_settings:hover {
    background-image: url(../images/menu/config16_over.png);
}

#refresh {
    background-image: url(../images/menu/restart16.png);
}

#refresh:hover {
    background-image: url(../images/menu/restart16_over.png);
}

#profile {
    background-image: url(../images/menu/profile16.png);
}

#profile:hover {
    background-image: url(../images/menu/profile16_over.png);
}

/*
 * tabs
 */
#tabHeader li {
    cursor: pointer;
}

#tabHeader li.ui-tabs-selected {
    cursor: default;
}

#tabHeader li:first-child {
    border-right: none ! important;
    border-radius: 4px 0px 0px 0px;
    -webkit-border-top-left-radius: 4px;
}

#tabHeader li:last-child {
    border-left: none ! important;
    border-radius: 0px 4px 0px 0px;
    -webkit-border-top-right-radius: 4px;
}

#tabHeader li:nth-child(2){
    border-right: solid 1px white ! important;
    border-left: solid 1px white ! important;
}

.panel {
    max-height: 450px;
}

.panel.animated {
    transition-property: height, left;
    -webkit-transition-property: height, left;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.tab.animated {
    transition-property: left;
    -webkit-transition-property: left;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/*
 * shows
 */ /*
 * show
 */
#show {
    overflow: hidden;
}

#show img.banner {
    width: 100%;
}

#show #showInfos {
    padding: 4px 4px 0 4px;
}

#show img {
    vertical-align: middle;
}

#show .name {
    font-size: 20px;
}

#show .info {
    min-width: 83px;
    display: inline-block;
    line-height: 16px;
}

#show .infoValue {
    min-width: 35px;
    display: inline-block;
}

#show #location.broken {
    color: #994444;
    font-style: italic;
}

#show #seasonList {
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}

#show #seasonList li {
    list-style: none;
    display: inline;
    margin: 0 2px;
    padding: 0 2px;
    cursor: pointer;
}

#show #seasonList li.active,#show #seasonList li:hover {
    background: #333;
    color: whiteSmoke;
}

#show #seasonEpisodes {
    height: 179px;
    overflow: auto;
    border-top: solid 1px white;
}

#seasonEpisodes .ep_name {
    font-weight: bold;
    line-height: 16px;
}

/*
 * Season / Future
 */
#seasonEpisodes li .status.error,
#future-arc li .ep_name.error,
#shows li .addShow.error {
    color: #994444 !important;
}

#seasonEpisodes li .status.success,
#future-arc li .ep_name.success,
#shows li .addShow.success  {
    color: #449944 !important;
}
#future-tab li{
    postition: relative;
    overflow: hidden;
}

.future_banner{
    width: 100%;
}
#future-tab li.banner.small{
    height: 61px;
}
#future-tab li.banner.medium{
    height: 80px;
}
#future-tab li.banner.big{
    height: 98px;
}

.future_poster{
    float: left;
    max-width: 50px;
    margin-right: 2px;
}

/*
 * History
 */
#history .historyQuality {
    font-weight: bold;
}

/*
 * Season / History
 */
#seasonEpisodes .date,#history .historyQuality,#history .date {
    float: right;
}

/*
 * For All Tabs
 */
#shows li .name,#future-arc li .show_name,#history li .show_name {
    font-weight: bold;
    cursor: pointer;
    max-width: 80%;
    display: inline-block;
}

img.search {
    width: 16px;
    float: right;
    cursor: pointer;
    display: none;
}

img.search.visible,li:hover img.search {
    display: inline;
}

.episode,.epSeasonEpisode {
    margin-right: 5px;
}

/*
 * Lists
 */
#seasonEpisodes ul,#shows ul,#future-arc ul,#history ul {
    padding: 0;
    margin: 0;
}

#seasonEpisodes li,#shows li,#future-arc li,#history li {
    min-height: 20px;
    list-style: none;
    margin: 0px;
    position: relative;
    border-bottom: solid 1px #fff;
    padding: 4px;
}

#seasonEpisodes li:nth-child(even),#shows li:nth-child(even),#future-arc li:nth-child(even),#history li:nth-child(even) {
    background: #EFEFEF;
}

/*
 * quality span
 */
span.status,span.quality {
    font: bold 1em/1.2em verdana, sans-serif;
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: right;
}

span.Custom {
    background: none repeat scroll 0 0 #444499; /* blue */
}

span.HD {
    background: none repeat scroll 0 0 #449944; /* green */
}

span.SD {
    background: none repeat scroll 0 0 #994444; /* red */
}

span.Any {
    background: none repeat scroll 0 0 #444444; /* black */
}

/*
 * quality span
 */
span.status {
    color: #333;
    float: none;
}

span.Wanted {
    background: #FFB0B0;
}

span.Ignored {
    background: #BEDEED;
}

span.Snatched {
    background: #444499;
    color: whitesmoke;
}

span.Downloaded {
    background: #C3E3C8;
}

.status.Unaired,span.Skipped {
    color: whiteSmoke;
}

/*
 * profile switcher
 */

.ui-sb-profile-switcher .ui-tooltip-content{
    border-width: 1px;
    border-color: #000001;
    border-style: solid;
}
.ui-sb-profile-switcher .ui-tooltip-content h5{
    margin: 0;
}
.ui-sb-profile-switcher .ui-tooltip-content ul{
    padding-left: 0;
}
.ui-sb-profile-switcher .ui-tooltip-content li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 2px;
}
.ui-sb-profile-switcher .ui-tooltip-content li:hover{
    background: #333;
    color: whitesmoke;
}
/*
 * helpers / common things
 */
.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.clearRight {
    clear: right;
}

.clearLeft {
    clear: left;
}

.clearer {
    clear: both;
}

.noEntry {
    display: block;
    text-align: center;
}

.hidden {
    height: 0px;
    overflow: hidden;
}