/*
 * popup border
 */
#menu,.ui-state-default,.ui-widget-content.ui-state-default,.ui-widget-header.ui-state-default,.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,#tabHeader li,.ui-accordion .ui-accordion-header {
    border-width: 1px;
    border-color: #57442B;
    border-style: solid;
}

/*
 * arccordion header
 */ /*normal*/
.ui-accordion h3.ui-accordion-header {
    background-color: #57442B;
    color: whitesmoke;
}
/* normal hover*/
.ui-accordion h3.ui-accordion-header:hover {
    background: #333;
    color: whitesmoke;
}
/*active inkl hover*/
/*if active and active:hover differ the hover state stays during animation this looks strange*/
.ui-accordion h3.ui-accordion-header.ui-state-active,.ui-accordion h3.ui-state-active:hover {
    background-color: #c7db39;
    color: #333;
}
